<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dinlive.din.person">

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".TimeUtilsActivity" />
        <activity android:name=".DropDownMenuActivity" />
        <activity android:name=".BannersActivity" />
        <activity android:name=".UtilsActivity" />
        <activity android:name=".MenuManageActivity" />

    </application>
</manifest>